---
import drone from "../icons/cloud.svg";
---

<div
	class="fixed w-full bottom-0 md:hidden flex justify-around items-center mx-auto right-0 left-0 z-50">
	<div>
		<ul class="flex w-screen justify-around backdrop bg-white/10">
			<!-- start free -->
			<!-- <div
				class="fixed text-md font-semibold right-3 top-5 z-50 text-white">
				<a
					class="p-2 rounded px-6 py-2 backdrop-blur-md bg-white/20 hover:bg-white hover:text-black"
					href="#contact">
					Comienza Gratis</a
				>
			</div> -->
			<!--  -->
			<li class="list-none">
				<a
					href="#creativity"
					class="rounded-lg py-2 text-sm font-medium grid place-items-center text-gray-500">
					<img src={drone.src} alt="drone-icon" />

					<span class="text-[.6rem]">Creatividad</span>
				</a>
			</li>

			<li class="list-none">
				<a
					href="#services"
					class="rounded-lg py-2 text-sm font-medium grid place-items-center text-gray-500">
					<img src={drone.src} alt="drone-icon" />

					<span class="text-[.6rem]">Servicios</span>
				</a>
			</li>

			<li class="list-none">
				<a
					href="#why-fpv"
					class="rounded-lg py-2 text-sm font-medium grid place-items-center text-gray-500">
					<img src={drone.src} alt="drone-icon" />
					<span class="text-[.6rem]">¿Por qué Fpv?</span>
				</a>
			</li>

			<li class="list-none">
				<a
					href="#inmersion"
					class="rounded-lg py-2 text-sm font-medium grid place-items-center text-gray-500">
					<img src={drone.src} alt="drone-icon" />

					<span class="text-[.6rem]">Inmersion</span>
				</a>
			</li>

			<li class="list-none">
				<a
					href="#experience"
					class="rounded-lg py-2 text-sm font-medium grid place-items-center text-gray-500">
					<img src={drone.src} alt="drone-icon" />
					<span class="text-[.6rem]">Experiencia</span>
				</a>
			</li>
		</ul>
	</div>
</div>
