---
import { Image } from "astro:assets";
import tractor from "../img/irrigator.jpg";
import cloud from "../icons/cloud.svg";
---

<section
	class="w-screen h-screen text-center bg-black/90 overflow-hidden text-black flex justify-end items-start relative"
	data-header-color="black"
	id="why-cacta">
	<article
		class="z-20 w-full lg:w-1/2 h-full flex items-center justify-center px-2 md:px-0">
		<div class="bullets-container">
			<aside class="px-8 md:p-0 text-start">
				<h5>
					<span class="text-2xl font-bold text-white"
						>¿Por qué Cacta?</span
					>
				</h5>
				<hr />
				<h6 class="text-xl font-semibold text-white">
					Nuestra misión es: <span
						>construir tu futuro bienestar,</span
					> hoy.
				</h6>
				<p class="font-normal text-white text-pretty max-w-[55ch]">
					Nuestro principal objetivo es que las empresas puedan tomar
					decisiones informadas, reducir su impacto ambiental y al
					mismo tiempo maximizar su eficiencia operativa
				</p>
			</aside>
			<ol
				class="grid grid-cols-1 items-center content-center mt-2 h-full text-start px-2 md:px-0 max-w-[55ch]">
				<hr class="hr-li" />

				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />
					<p>
						Conexión 100% automatizada al sistema de gestión del
						cliente a través de API desarrolladas.
					</p>
				</li>
				<hr class="hr-li" />

				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />

					<p>
						Algoritmo que tipifica bajo más de 70.000 emisiones
						registradas y 27.000 datos de actividad.
					</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />

					<p>
						Único software en Latinoamérica y Sudamérica bajo
						metodología “LCA”.
					</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />

					<p>Solución certificada, precisa y confiable.</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />
					<p>Paneles e informes automatizados.</p>
				</li>
				<hr class="hr-li" />
				<li class="bullet-item pl-4">
					<img src={cloud.src} alt="icon" />
					<p>Paneles e informes automatizados.</p>
				</li>
				<hr class="hr-li" />
			</ol>
		</div>
	</article>
	<!-- video -->
	<div class="absolute bottom-0 top-0 h-screen w-full">
		<Image class="bg-image1" src={tractor} alt="Image of tractor" />
	</div>
</section>

<style>
	hr {
		/* margin-left: 2rem; */
		height: 1px;
		margin-bottom: 0.5rem;
		width: 15ch;
		border: none;
		background: linear-gradient(
			to right,
			transparent 0%,
			#4daa57 50%,
			transparent 100%
		);
	}
	span {
		color: #4daa57;
		font-weight: 800;
	}
	.hr-li {
		margin-left: 2rem;
		height: 1px;
		width: 50%;
		border: none;
		background: linear-gradient(
			to left,
			transparent 0%,
			#4daa57 75%,
			transparent 100%
		);
	}
	.bg-image1 {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
		mask: radial-gradient(circle at left, white 30%, transparent 100%);
	}
	.bullets-container {
		display: flex;
		align-items: center;
		flex-direction: column;
		color: white;
		display: flex;
		text-wrap: pretty;
		max-width: 55ch;
		backdrop-filter: blur(5px);
		border-radius: 0.5rem;
		padding: 0.5rem 1rem;
		background-color: rgba(255, 255, 255, 0.1);
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
		filter: brightness(1.1);
	}
	.bullet-item {
		display: flex;
		align-items: center;
		justify-content: flex-start;
		/* padding: 1rem; */
		padding: 0.25rem 0rem;
	}

	.bullet-item > p {
		color: white;
		font-weight: 500;
		font-size: 1rem;
		text-wrap: pretty;
		margin-left: 0.5rem;
	}
	.bullet-item > span {
		margin-right: 1rem;
		font-size: 1.5rem;
		font-weight: 800;
	}
	@media (width < 768px) {
		.bg-image1 {
			mask: radial-gradient(circle at right, white 0%, transparent 100%);
		}
	}
</style>
